*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Oswald",sans-serif;
}

p{
    font-family: "Raleway",sans-serif;
}

.wrapper{
    width: 100%;
    margin: auto;
}

/* (1)Header Area */
.nav{
    width: 85%;
    margin: 1em auto;
    overflow: auto;
}

.nav h1{
    text-transform: uppercase;
    width: 50%;
    float: left;
}

.nav h1 a{
    font-family: "Oswald",sans-serif;
    color: #96747b;
    text-decoration: none;
}

.nav ul{
    width: 50%;
    float: left;
    text-align: right;
    padding-top: 1em;
}

.nav ul li{
    display: inline-block;
    margin: 0.5em;
}

.nav ul li a{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    color: #312a26;
    text-decoration: none;
}

/* (2)Banner Area */
.banner{
    background-image: url(../images/banner-bg.jpg);
    height: 670px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.banner-text{
    position: absolute;
    top: 35%;
    left: 7,5%;
}

.banner-text h2{
    color: #c7a17a;
    font-size: 3em;
    text-transform: uppercase;
}

.banner-text span{
    color: #96746b;
}

.banner-text p{
    color: #fff;
}

.banner-text a{
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    background-color: #312a26;
    color: #fff;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    margin-top: 1em;
}